body{
    background-color: azure;
}
.nav{
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 20px;
}

.nav-li ul li{
    list-style: none;
    display: inline;
    padding-left: 12px;
    
}

.nav-li ul li a{
    text-decoration: none;
    color: white;
}

.nav-li ul li a:hover{
    color: rgb(9, 172, 60);
    text-decoration: underline;
}

.nav-li ul li a i{
    margin-right: 12px;
}

#navbar div{
    display: inline-block;
    position: relative;
    left: 50px;
}

.nav-li{
    position: relative;
    top: -41px;
    margin-left: 500px;
}

#navbar{
    margin-top: 15px;
}