.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.lighter {
  font-weight: lighter;
}

.bolder {
  font-weight: bolder;
}

.weight100 {
  font-weight: 100;
}

.weight500 {
  font-weight: 500;
}

.weight900 {
  font-weight: 900;
}
